html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

.IdiomText {
    font-size:30px;
}

.overlay.splashscreen {
    z-index: 10000;
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    background-color:#ffffff;
}

.splashscreen-Logo {
    position:absolute;
    top: 25%;
    left: 35%;
    width:30vw;
}

.splashscreen-Text {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 25%;
    font-size: 8vw;
    color: #0078D7;
  
}


.button.button-big.featureButton {
    height:126px;
}

.featureButton-Icon {
    font-size: 40px;
    position:relative;
    top: 25px;
}

.featureButton-Text {
    position: relative;
    top: 20px;
    font-size: 20px;
}

.fa.icon {
    width: 24px;
    height: 24px;
    text-align:center;
    line-height: 24px;
    font-size: 24px;
}

.IdiomDetails.content-block {
    margin-top: 10px;
}

.IdiomDetails.IdiomText {
    font-size: 28px;
}

.IdiomDetails.Header {
    border-bottom: 1px lightgray solid;
    margin-bottom: 10px;
    
}

.IdiomDetails.playAudioButton {
    width: 130px;
}

.IdiomDetails.TextTag {
    display: inline;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
    color: #ffffff;
    background-color: #5ac8fa;
}
.IdiomDetails.TextBlock{
    margin-top:10px;
    
}

.IdiomDetails.Anno {
    position:relative;
    left: -10px;
    list-style-type: decimal;
}

.IdiomDetails.AnnoTitle{
    font-size: 17px;
}


.IdiomDetails li{
    padding-bottom: 10px;
}