                        <div class="content-block-title">Welcome To My Awesome App</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                                <p>Couple of worlds here because my app is so awesome!</p>
                                <p>Duis sed erat ac eros ultrices pharetra id ut tellus. Praesent rhoncus enim ornare ipsum aliquet ultricies. Pellentesque sodales erat quis elementum sagittis.</p>
                            </div>
                        </div>
                        <div class="content-block-title">{{title}}</div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <a href="#detailPage" class="item-link">
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">Details</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                 <li>
                                    <a href="#listPage" class="item-link">
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">All</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-block-title">Side panels</div>
                        <div class="content-block">
                            <div class="row">
                                <div class="col-50"><a href="#" data-panel="left" class="button open-panel">Left Panel</a></div>
    
                            </div>
                        </div>